node_modules
.git
.tern-project
npm-debug.log
package-lock.json
environment.config.json
jsconfig.json
.eslintrc.json
apidoc
.vscode
launch.json
autoTag.py
.idea
.fleet

config/redis.config.json
config/connections.config.json
config/aliyunSearch.config.js 
config/oss.config.json 
config.sit/redis.config.json
config.sit/connections.config.json
config.sit/aliyunSearch.config.js 
config.sit/oss.config.json 
config.uat/redis.config.json
config.uat/connections.config.json
config.uat/aliyunSearch.config.js 
config.uat/oss.config.json 
config.prd/redis.config.json
config.prd/connections.config.json
config.prd/aliyunSearch.config.js 
config.prd/oss.config.json 

